#!/usr/bin/env bash

# direnv is only needed if you need to sync icons from Figma or manually deploy docs.

dotenv_if_exists

function print_err() {
	local red="\033[31m"
	local reset="\033[0m"
	echo -e "${red}$1${reset}"
}

if ([ -z "$VAULT_PATH_STATIC" ] || [ -z "$VAULT_PATH_CORE_ICONS" ]); then
	print_err "VAULT_PATH_STATIC and VAULT_PATH_CORE_ICONS must be set in .env! Please refer to README.md for setup instructions."
	exit 1
fi

if ! command -v vault &> /dev/null; then
  print_err "vault cli could not be found! Please refer to README.md for setup instructions."
  exit 1
fi

# Check if vault token is valid, if not, login using OIDC
vault token lookup &>/dev/null
if [ $? -eq 2 ]; then
  echo "Logging in to vault..."
  vault login -method=oidc 1>/dev/null
fi

export STATIC_NETSTORAGE_API_ACCOUNT="$(vault kv get -field username "$VAULT_PATH_STATIC")"
export STATIC_NETSTORAGE_API_KEY="$(vault kv get -field password "$VAULT_PATH_STATIC")"
export FIGMA_FILE_KEY="$(vault kv get -field FIGMA_FILE_KEY "$VAULT_PATH_CORE_ICONS")"
export FIGMA_ACCESS_TOKEN="$(vault kv get -field FIGMA_ACCESS_TOKEN "$VAULT_PATH_CORE_ICONS")"

