.DS_Store
.npm
.vscode
.idea
node_modules/
npm-debug*
yarn-error*
*.code-workspace
*.tar
*.d.ts
lib/core-icons*.js
/core-icons*
/jsx/**/core-icons*
/logo/**/core-icons*
*.rss
*.pdf
*.zip
static/
build_tmp/
