.gradle
build/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# IDEA/Android Studio project files, because the project can be imported from settings.gradle.kts
# This is inspired (a lot) by https://github.com/android/nowinandroid/blob/main/.gitignore
*.iml
.idea/*
!.idea/copyright
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
